.navbar {
  background: hsl(111, 88%, 47%);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px; 
}

.nav-links a, 
.nav-links button {
  color: blueviolet !important; 
   text-decoration: none !important; 
  transition: color 0.3s;
  background-color: white !important; 
  padding: 5px 10px; 
  border-radius: 5px; 
  display: inline-block; 
  margin-right: 10px; 
  border: none; 
}

.nav-links a:hover, 
.nav-links button:hover {
  color: #ffcc00 !important; /* Change text color on hover */
}

.container {
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Space between cards */
}

.log-card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
